/* =====    UNIVERSAL   ===== */

html {
    font-size: 11px;
}

body {
    background-color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    
}

.wrapper {
    margin: 0 auto;
    width: 85%;
}



h1 {
    position: absolute;
    left: -100px;
    top: -150px;
}


h3 {
    font-size: medium;
    font-weight: bold;
    padding-top: 2.5rem;
}

h4 {
    font-size:smaller;
    font-weight:600;
    padding-top: 2.5rem;
}

/* =====    MOBILE NAVIGATION AND HEADER    ===== */

nav a:link, nav a:visited {
    text-decoration: none;
    padding:1rem;
    line-height: 3.5rem;
    font-size: small;
    font-weight: bold;
    padding-top: 2.5rem;
    color: #FF9D00;
}

nav ul li:hover {
    color: white;
    background-color:#00003B;
}

.logo img{
    width:75px;
    float: left;
    background-color: #E4EFEE;
}

.current-page {
    background-color:#FF9D00;
    color: white;
    text-align: center;
}

.head-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

.tile {
    background-color:#E4EFEE;
    text-align: center;
}


/* =====    HOME GALLERY TILES  ===== */

.checkered01 {
    display: grid;
    justify-content: left;
    grid:
        "main-image main-image main-image navmenu"
        "main-image main-image main-image navmenu"
        "main-image main-image main-image text-01"
        "text-02 image-02 text-03 image-03"
        "image-04 text-04 image-05 text-05";
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 7rem 7rem 7rem 7rem 7rem;
    min-width: 27rem;
}

.checkered01 > div:first-child {
    grid-area: main-image;
    background-image: url(/images/photography/road/road-225w.jpg);
    background-size: cover;
}
.checkered01 > div:nth-child(2) {
    background-image: url(/images/graphic-design/batman/batman-75w.jpg);
    grid-area: image-02;
    background-size: cover;
}
.checkered01 > div:nth-child(3) {
    grid-area: image-03;
    background-image: url(/images/web-dev/final2/final2-75w.png);
    background-size: cover;
}
.checkered01 > div:nth-child(4) {
    grid-area: image-04;
    background-image: url(/images/ux/screenshot02/screenshot02-75w.png);
    background-size: cover;
}
.checkered01 > div:nth-child(5) {
    grid-area: image-05;
    background-image: url(/images/architecture/05/05-75w.png);
    background-size: cover;
}
.checkered01 > div:nth-child(6) {
    grid-area: text-01;
    background-size: cover;
}
.checkered01 > div:nth-child(7) {
    grid-area: text-02;
    background-size: cover;
}
.checkered01 > div:nth-child(8) {
    grid-area: text-03;
    background-size: cover;
}
.checkered01 > div:nth-child(9) {
    grid-area: text-04;
    background-size: cover;
}
.checkered01 > div:nth-child(10) {
    grid-area: text-05;
    background-size: cover;
}
.checkered01 > div:nth-child(11) {
    grid-area: navmenu;
    background-size: cover;
}

.checkered01 h2, .checkered02 h2 {
    color: white;
    font-size: x-large;
    font-weight:bold;
    padding-top: 6rem;

}

/* =====    PORTFOLIO GALLERY TILES     ===== */
/* =====  photography    ===== */

.checkered02 {
    margin-bottom: 5rem;
    display: grid;
    justify-content: left;
    grid:
    "main-image main-image main-image navmenu"
    "main-image main-image main-image navmenu"
    "main-image main-image main-image text-01"
    "text-02 image-02 text-03 image-03"
    "image-04 text-04 image-05 text-05"
    "void01 large large large"
    "small01 large large large"
    "void02 large large large"
    "small02 void03 small03 void04";
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 7rem 7rem 7rem 7rem 7rem 7rem 7rem 7rem 7rem;
    min-width: 27rem;
}

.checkered02 > div:first-child {
    grid-area: main-image;
    background-image: url(/images/photography/road/road-225w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(2) {
    grid-area: image-02;
    background-image: url(/images/photography/copper/copper-75w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(3) {
    grid-area: image-03;
    background-image: url(/images/photography/stairs/stairs-75w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(4) {
    grid-area: image-04;
    background-image: url(/images/photography/chess/chess-75w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(5) {
    grid-area: image-05;
    background-image: url(/images/photography/sunset/sunset-75w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(6) {
    grid-area: text-01;
}
.checkered02 > div:nth-child(7) {
    grid-area: text-02;

}
.checkered02 > div:nth-child(8) {
    grid-area: text-03;
}
.checkered02 > div:nth-child(9) {
    grid-area: text-04;
}
.checkered02 > div:nth-child(10) {
    grid-area: text-05;
}

/* === Graphic Design === */

.checkered02 > div:nth-child(11) {
    grid-area: navmenu;
}
.checkered02 > div:nth-child(12) {
    grid-area: large;
    background-image: url(/images/graphic-design/batman/batman-225w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(13) {
    grid-area: small01;
    background-image: url(/images/graphic-design/kayotea/Kayotea_Hari-75w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(14) {
    grid-area: small02;
    background-image: url(/images/graphic-design/scaredycat/scaredyca-75w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(15) {
    grid-area: small03;
    background-image: url(/images/graphic-design/scifi/scifiposter-75w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(16) {
    grid-area: void01;
    background-image: url(/images/photography/sunset/sunset-75w.jpg);
    background-size: cover;
}
.checkered02 > div:nth-child(17) {
    grid-area: void01;
}
.checkered02 > div:nth-child(18) {
    grid-area: void02;
}
.checkered02 > div:nth-child(19) {
    grid-area: void03;
}
.checkered02 > div:nth-child(20) {
    grid-area: void04;
}


/* =====    ABOUT ME       ====== */

.textgrid {
    display: grid;
    justify-content: left;
    grid:
        "dp navmenu3"
        "textbody textbody";
    grid-template-columns: 225px 75px;
    grid-template-rows: 225px 275px;
    max-width: 27rem;
}

.textgrid > div:first-child {
    grid-area: dp;

}
.textgrid > div:nth-child(2) {
    grid-area: navmenu3;

}
.textgrid > div:last-child {
    grid-area: textbody;
    text-align: justify;
    line-height: 1.5rem;
    padding: 1.5rem 1rem;
    font-weight: 500;


}
.textgrid > div:last-child h3 {
    color:#FF9D00;


}

.sendbutton {
    background-color:#FF9D00;
    font-size: 1.5rem;
    color: white;
    padding:0.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


/* =====    COLLABORATION SECTION       ====== */

.collaborate {
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.collaborate img {
    width: 75px;
    float: right;
    padding-right: 15rem;
}

.collaborate > div:first-child {
    font-size: large;
    color: #00003B;
}

.collaborate > div:last-child a:link, .collaborate > div:last-child a:visited {
    color:#FF9D00;
}

section a:link, nav a:visited {
    text-decoration: none;
    color: #FF9D00;
    font-size: large;
    font-weight: 500;
    text-align: right;
}

/* =====    CONTACT      ====== */

.message input, .message textarea {
    width: 295px;
    background-color: #E4EFEE;
    border-color: #FF9D00;
    border-width: 2px;
}

.message textarea {
    height: 6rem;
}

/* =====    FOOTER      ====== */
                    
footer {
    margin-top: 4rem;;
    background-color: #00003B;
    width: 100%;
    color: white;
}

footer div > p {
    color: #FF9D00;
    font-size: xx-small;
}

footer a:link, footer a:visited {
    color: white;
}

footer {
    display:grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto auto auto;
}

footer first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

footer div:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.foot-grid div:nth-child(3) {
    grid-area: fb;
}

.foot-grid div:nth-child(4) {
    grid-area: twitter;
}

.foot-grid div:nth-child(5) {
    grid-area: insta;
}

@media screen and (min-width: 600px) {
    .wrapper {
        max-width: 700px;
    }
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 750px) {
    .wrapper {
        max-width: 900px;
    }
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 950px) {
    .wrapper {
        max-width: 2000px;
    }
    html {
        font-size: 18px;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
